body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

.header {
    text-align: center;
    padding: 80px 20px 40px;
}

.header h1 {
    font-weight: 600;
    font-size: 3rem;
}

.header p {
    color: #94a3b8;
}

.projects {
    padding: 40px 20px;
}

.card {
    background-color: #414B66 ;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.carousel img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #3b82f6;
}

.card-text {
    color: #cbd5f5;
    font-size: 0.9rem;
}

.badge-tech {
    background: #3b82f6;
    margin-right: 5px;
}

.footer {
    text-align: center;
    padding: 40px;
    color: #64748b;
}